<p><%= link_to 'Back', root_url %> <%= link_to 'Next Page', searches_path, method: :post %></p>

<% jobs.each do |job| %>
  <strong>Job Title: <%= job['name'] %></strong><br>
  <a href="<%= job['refs']['landing_page'] %>" target="_blank">View Position</a><br>
  Company: <%= job['company']['name'] %><br>
  <p></p>
<% end %>